/* this file was created and served by Astatine Gear */
/* https://astatine-gear.firok.space/ */

@font-face {
    font-family: HYWH35W;
    src: url("./font-hywh/HYWenHei-35W.ttf");
}
@font-face {
    font-family: HYWH45W;
    src: url("./font-hywh/HYWenHei-45W.ttf");
}
@font-face {
    font-family: HYWH55S;
    src: url("./font-hywh/HYWenHei-55S.ttf");
}
@font-face {
    font-family: HYWH65W;
    src: url("./font-hywh/HYWenHei-65W.ttf");
}
@font-face {
    font-family: HYWH75W;
    src: url("./font-hywh/HYWenHei-75W.ttf");
}
@font-face {
    font-family: HYWH85W;
    src: url("./font-hywh/HYWenHei-85W.ttf");
}
